<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              ng-class="isEditing ? 'editImg' : ''"
              class="rounded-circle img-fluid"
              style="width: 150px"
              ng-click="isEditing = !isEditing"
            />
            <input
              class="mt-2 mb-2 form-control file-input profile-input mx-auto"
              type="file"
              id="input"
              accept=".jpg"
            />
            <h5 class="my-3">{{profile.fullName}}</h5>
            <div class="row justify-content-center">
              <div class="col-auto">
                <label class="col-form-label" for="title">title:</label>
              </div>
              <div class="col-auto">
                <input
                  id="title"
                  class="form-control profile-input"
                  placeholder="{{profile.title}}"
                  type="text"
                  ng-model="profile.model.title"
                />
              </div>
            </div>
            <p class="text-muted mb-2">{{profile.adress}}</p>

            <div class="d-flex justify-content-center mb-2">
              <button
                type=""
                ng-click="profile.switchEdit();"
                class="button glow-button mr-2"
              >
                Cancel
              </button>
              <button
                type=""
                ng-click="profile.showModel();"
                class="button glow-button"
              >
                Save Changes
              </button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
                <input
                  class="form-control profile-input"
                  type="text"
                  ng-model="profile.model.twitter"
                />
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac"></i>
                <input
                  class="form-control profile-input"
                  type="text"
                  ng-model="profile.mode.instagram"
                />
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998"></i>
                <input
                  class="form-control profile-input"
                  type="text"
                  ng-model="profile.model.facebook"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0 mt-2">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <img
                  class="epic"
                  src="../../assets/images/epic_games_logo_icon_145306.svg"
                  alt="epic"
                />
                <input class="form-control profile-input" type="text" />
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-brands fa-steam"></i>
                <input class="form-control profile-input" type="text" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <input
                  class="form-control profile-input"
                  placeholder="{{profile.fullName}}"
                  type="text"
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input
                  class="form-control profile-input"
                  type="text"
                  placeholder="{{profile.email}}"
                />
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <input
                  class="form-control profile-input"
                  placeholder="{{profile.mobile}}"
                  type="text"
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <input
                  class="form-control profile-input"
                  placeholder="{{profile.adress}}"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <img
                  class="card-img-top"
                  src="../../assets/images/unnamed.jpg"
                  alt="lol"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">League Of Legends</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <img
                  class="card-img-top"
                  src="../../assets/images/social-share-image.jpg"
                  alt="lol"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">COD: Modern Warfare</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
