<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              id="img"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 ng-if="!!profile.model.fullName" class="my-3">
              {{profile.model.fullName}}
            </h5>
            <p ng-if="!!profile.model.title" class="text-muted mb-1">
              {{profile.model.title}}
            </p>
            <p ng-if="!!profile.model.country" class="text-muted mb-4">
              {{profile.model.country}}
            </p>
            <div class="d-flex justify-content-center mb-2">
              <button
                ng-click="profile.switchEdit();"
                type=""
                class="button glow-button mt-2"
              >
                Edit Profile
              </button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li
                ng-if="!!profile.model.twitter"
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
                <p class="mb-0">{{profile.model.twitter}}</p>
              </li>
              <li
                ng-if="!!profile.model.instagram"
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac"></i>
                <p class="mb-0">{{profile.model.instagram}}</p>
              </li>
              <li
                ng-if="!!profile.model.facebook"
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i
                  class="fa-brands fa-discord fa-lg"
                  style="color: #7289d9"
                ></i>
                <p class="mb-0">{{profile.model.facebook}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0 mt-2">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li
                ng-if="!!profile.model.epicGames"
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <img
                  class="epic"
                  src="../../assets/images/epic_games_logo_icon_145306.svg"
                  alt="epic"
                />
                <p class="mb-0">{{profile.model.epicGames}}</p>
              </li>

              <li
                ng-if="!!profile.model.steam"
                class="list-group-item d-flex justify-content-between align-items-center p-3"
              >
                <i class="fa-brands fa-steam"></i>
                <p class="mb-0">{{profile.model.steam}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 text-end">
                  {{profile.model.fullName}}
                </p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 text-end">{{profile.model.email}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 text-end">{{profile.model.mobile}}</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0 text-end">{{profile.model.adress}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <img
                  class="card-img-top"
                  src="../../assets/images/unnamed.jpg"
                  alt="lol"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">League Of Legends</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <img
                  class="card-img-top"
                  src="../../assets/images/social-share-image.jpg"
                  alt="lol"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">COD: Modern Warfare</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
