.nav-btn {
  color: white;
  background-color: #ffb606;
}
.nav-btn:hover {
  color: gray;
  background-color: blue;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}
