<div class="container">
  <main class="grid">
    <article>
      <img src="/assets/images/unnamed.jpg" alt="Sample photo" />
      <div class="text">
        <h3>League of legends</h3>
        <p class="textparagraph">
          League of Legends is a team-based game with over 140 champions to make
          epic plays with. Play now for free.
        </p>
        <a href="" class="btn btn-primary btn-block">Add game</a>
        <a href="" class="btn btn-primary btn-block remove">Remove game</a>
      </div>
    </article>
    <article>
      <img src="/assets/images/social-share-image.jpg" alt="Sample photo" />
      <div class="text">
        <h3>COD: Modern Warfare</h3>
        <p class="textparagraph">
          The iconic first-person shooter game is back! Cross play, free maps
          and modes, and new engine deliver the largest technical leap in Call
          of Duty history.
        </p>
        <a href="" class="btn btn-primary btn-block">Add game</a>
        <a href="" class="btn btn-primary btn-block remove">Remove game</a>
      </div>
    </article>
    <article>
      <img src="/assets/images/Rocket league.jfif" alt="Sample photo" />
      <div class="text">
        <h3>Rocket league</h3>
        <p class="textparagraph">
          League of Legends is a team-based game with over 140 champions to make
          epic plays with. Play now for free.
        </p>
        <a href="" class="btn btn-primary btn-block">Add game</a>
        <a href="" class="btn btn-primary btn-block remove">Remove game</a>
      </div>
    </article>
    <article>
      <img src="/assets/images/Apex legends.jpg" alt="Sample photo" />
      <div class="text">
        <h3>Apex legends</h3>
        <p class="textparagraph">
          Apex Legends is a free-to-play hero shooter game where legendary
          competitors battle for glory, fame, and fortune on the fringes of the
          Frontier.
        </p>
        <a href="" class="btn btn-primary btn-block">Add game</a>
        <a href="" class="btn btn-primary btn-block remove">Remove game</a>
      </div>
    </article>
    <article>
      <img src="/assets/images/fortnite.jpg" alt="Sample photo" />
      <div class="text">
        <h3>Fortnite</h3>
        <p class="textparagraph">
          Fortnite is a free-to-play Battle Royale game with numerous game modes
          for every type of game player. Watch a concert, build an island or
          fight
        </p>
        <a href="" class="btn btn-primary btn-block">Add game</a>
        <a href="" class="btn btn-primary btn-block remove">Remove game</a>
      </div>
    </article>
    <article>
      <img src="/assets/images/Valorant.jpg" alt="Sample photo" />
      <div class="text">
        <h3>Valorant</h3>
        <p class="textparagraph">
          Riot Games presents VALORANT: a 5v5 character-based tactical FPS where
          precise gunplay meets unique agent abilities.
        </p>
        <a href="" class="btn btn-primary btn-block">Add game</a>
        <a href="" class="btn btn-primary btn-block remove">Remove game</a>
      </div>
    </article>
  </main>
</div>